body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 0%;
    background-color: #F4F4F4;
    color: #333;

}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
h1 {
    text-align: center;
}

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}
.search-input{
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;

}
.search-button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;

}
.search-button:hover {
    background-color: #1a8e1a
}